// Banner Styles

.home-banner {
    position: relative;

    img {
        min-width: 100%;
        max-height: 50vh;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 40%;
        width: 45%;
        color: white;

        @include mq($tablet-landscape) {
            & {
                left: 50%;
                top: 70%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
        }

        @include mq($phone-wide) {
            & {
                font-size: 1.8rem;
            }
        }

        @include mq($phone) {
            & {
                font-size: 1.6rem;
            }
        }
    }
}