// Body Styles

%table-header-style {
    background-color: $site-accent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

%sub-section-style {
    border: 1px solid $border-light;
    background-color: $bg-sub-section-color;
    border-radius: 5px;
}

%flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: $bg-body-color;
    width: 100%;
}

.flex {
    display: flex;
}

.bg-white {
    background-color: white;
}

.no-mb-lg {
    margin-bottom: 0;

    @include mq($navbar-breakpoint) {
        & {
            margin-bottom: 20px;
        }
    }
}

main {
    margin-top: 20px;
    margin-bottom: 20px;

    .intro {
        .welcome {
            .btn {
                margin-top: 15px;
                margin-bottom: 35px;
                padding: 15px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    section {
        background-color: $bg-section-color;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.overviewTable {
            div.row {
                padding-bottom: 15px;

                &:last-of-type {
                    padding-bottom: 0;
                }

                div:first-of-type {
                    &:after {
                        content: ":";

                        @include mq($tablet-portait) {
                            & {
                                display: none;
                            }
                        }
                    }

                    @include mq($tablet-portait) {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        section.resource {
            @extend %sub-section-style;

            p {
                margin: 0;
            }

            img {
                max-width: 50px;
                max-height: 50px;
                overflow: hidden;
                padding-right: 20px;


                @include mq($phone-wide) {
                    & {
                        max-width: 40px;
                        max-height: 40px;
                        padding-right: 0;
                    }
                }
            }
        }

        section.course {
            @extend %sub-section-style;

            h4 {
                padding-left: 0;
            }
        }

        &.staff {
            @extend %flex-section;

            section.person {
                @extend %sub-section-style;
                width: 49%;

                h4 {
                    padding: 0;
                    font-weight: 900;
                    margin-bottom: 0;
                }

                p {
                    margin: 0;
                    font-size: 1rem;

                    &.role {
                        font-style: italic;
                        font-size: 0.8rem;
                        margin-bottom: 5px;
                    }

                    &.email {
                        color: $site-accent;
                    }
                }

                @include mq($navbar-breakpoint) {
                    & {
                        width: 100%;
                    }
                }
            }

            @include mq($phone) {
                & {
                    padding-left: 15px;
                    padding-right: 15px;

                    section.person {
                        padding-left: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }

        &.schedule {
            section.month {
                @extend %sub-section-style;
                margin-top: 20px;
                padding: 7px;
                border-radius: 15px;
                overflow: hidden;

                h2 {
                    text-align: center;
                }

                ul.month-header {
                    @extend %flex-section;
                    list-style: none;
                    padding: 0;
                    margin: 1px;

                    li.week-head {
                        width: 19.5%;
                        text-align: center;
                        background-color: $site-accent;
                        padding: 5px;
                        border-radius: 10px;
                        color: white;
                        font-size: 1.3rem;
                    }
                }

                div.grid {
                    @extend %flex-section;

                    .day {
                        width: 19.5%;
                        background-color: white;
                        margin-top: 3px;
                        margin-bottom: 3px;
                        padding: 20px 10px 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-flow: column;

                        p {
                            padding: 0;
                            font-size: 1rem;
                            z-index: 5;

                            &.day-name {
                                font-family: 'Roboto', sans-serif;
                                display: none;
                            }

                            &.course {
                                color: $site-accent;
                                flex: 1 0 auto;
                            }

                            &.notes {
                                color: gray;
                                font-size: 0.8rem;
                            }

                            &.instructor {
                                padding: 0;
                                font-style: italic;
                            }
                        }

                        h4.date {
                            font-size: 1.0rem;
                            padding: 0;
                            font-weight: 500;
                            z-index: 5;
                            font-family: 'Roboto', sans-serif;
                        }

                        &.today {
                            position: relative;

                            #today-bookmark {
                                position: absolute;
                                right: 10px;
                                top: 0;
                                width: 20px;
                                overflow: hidden;
                                font-size: 3rem;
                                color: $site-accent;
                                height: stretch;
                                z-index: 2;

                                i {
                                    margin-left: -8px;
                                }
                            }
                        }
                    }
                }
            }


            &.list {
                section.month {
                    padding: 0;

                    h2 {
                        @include monthHeader;
                    }

                    ul.month-header {
                        display: none;
                    }

                    div.grid {
                        .day {
                            width: 100%;
                            padding: 10px 5px;
                            border-radius: 0;
                            margin: 0;

                            @include rmq($navbar-breakpoint) {
                                & {
                                    flex-flow: nowrap;
                                }
                            }

                            &:nth-child(even) {
                                background-color: $table-highlight-even;
                            }

                            &:nth-child(odd) {
                                background-color: $table-highlight-odd;
                            }

                            &.day-placeholder {
                                display: none;
                            }

                            &.day-flex {
                                p.instructor {
                                    display: none;
                                }
                            }

                            p {
                                margin: 0;
                                font-size: 1rem;

                                &.day-name {
                                    display: inline-block;

                                    @include rmq($navbar-breakpoint) {
                                        & {
                                            width: 15%;
                                            padding-left: 20px;
                                            font-weight: 500;
                                        }
                                    }
                                }

                                &.notes {
                                    display: none;
                                }

                                &.instructor {
                                    @include rmq($navbar-breakpoint) {
                                        width: 30%;
                                    }
                                }
                            }

                            h4.date {
                                font-size: 1rem;
                                margin: 0;

                                @include rmq($navbar-breakpoint) {
                                    & {
                                        width: 20%;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @include mq($navbar-breakpoint) {
                section.month {
                    padding: 0;

                    h2 {
                        @include monthHeader;
                    }

                    ul.month-header {
                        display: none;
                    }

                    div.grid {
                        .day {
                            width: 100%;
                            padding: 10px 15px;
                            border-radius: 0;
                            vertical-align: middle;
                            margin: 0;
                            display: flex;
                            flex-flow: nowrap;
                            flex-wrap: wrap;

                            &:nth-child(even) {
                                background-color: $table-highlight-even;
                            }

                            &:nth-child(odd) {
                                background-color: $table-highlight-odd;
                            }

                            &.day-placeholder {
                                display: none;
                            }

                            &.day-flex {
                                p.instructor {
                                    display: none;
                                }
                            }

                            p {
                                margin: 0;
                                font-size: 1rem;

                                &.day-name {
                                    display: block;
                                    padding: 0;
                                    padding-right: 20px;
                                }

                                &.course {
                                    width: 100%;
                                }

                                &.notes {
                                    display: block;
                                    width: 100%;
                                }

                                &.instructor {
                                    width: 100%;
                                }
                            }

                            h4.date {
                                font-size: 1rem;
                                margin: 0;
                                width: 70%;
                                vertical-align: bottom;
                                font-weight: 500;

                                @include mq($phone-wide) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            #toggleView {
                @include mq($navbar-breakpoint) {
                    & {
                        display: none;
                    }
                }
            }
        }
    }

    @include mq($tablet-portait) {
        &.student-list {
            .display-4 {
                display: none;
            }
        }
    }

    @include mq($phone-wide) {
        &.student-list {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    div.student-list-head {
        @extend %table-header-style;

        @include mq($tablet-portait) {
            & {
                display: none;
            }
        }
    }

    div.student-list-mobile-title {
        display: none;
        text-transform: uppercase;
        @extend %table-header-style;

        @include mq($tablet-portait) {
            & {
                display: block;
            }
        }
    }

    div.students {
        div.row {
            padding-top: 8px;
            padding-bottom: 5px;

            span.email {
                word-wrap: break-word;
            }

            &:nth-child(odd) {
                background-color: $table-highlight-odd;

                .fab {
                    color: $site-accent;
                    font-size: 1.7rem;
                }
            }

            &:nth-child(even) {
                background-color: $table-highlight-even;

                .fab {
                    color: $site-accent;
                    font-size: 1.7rem;
                }
            }
        }
    }
}