// Body Styles

%table-header-style {
    background-color: $site-accent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

body {
    background-color: $bg-body-color;
    width: 100%;
}

.bg-white {
    background-color: white;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;

    .intro {
        .welcome {
            .btn {
                margin-top: 15px;
                margin-bottom: 35px;
                padding: 15px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    section {
        background-color: $bg-section-color;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.overviewTable {
            div.row {
                padding-bottom: 10px;

                &:last-of-type {
                    padding-bottom: 0;
                }

                div:first-of-type {
                    &:after {
                        content: " :";

                        @include mq($tablet-portait) {
                            & {
                                display: none;
                            }
                        }
                    }

                    @include mq($tablet-portait) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    @include mq($tablet-portait) {
        &.student-list {
            .display-4 {
                display: none;
            }
        }
    }

    @include mq($phone-wide) {
        &.student-list {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    div.student-list-head {
        @extend %table-header-style;

        @include mq($tablet-portait) {
            & {
                display: none;
            }
        }
    }

    div.student-list-mobile-title {
        display: none;
        text-transform: uppercase;
        @extend %table-header-style;

        @include mq($tablet-portait) {
            & {
                display: block;
            }
        }
    }

    div.students {
        div.row {
            padding-top: 5px;
            padding-bottom: 5px;

            &:nth-child(odd) {
                background-color: $table-highlight-odd;

                .fab {
                    color: $site-accent;
                    font-size: 1.6rem;
                }
            }

            &:nth-child(even) {
                background-color: $table-highlight-even;

                .fab {
                    color: $site-accent;
                    font-size: 1.6rem;
                }
            }
        }
    }
}