// Body Styles

body {
    background-color: $bg-body-color;
    width: 100%;
}

.bg-white {
    background-color: white;
}

main {
    margin-top: 20px;

    .intro {
        .welcome {
            .btn {
                margin-top: 15px;
                margin-bottom: 35px;
                padding: 15px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

section {
    background-color: $bg-section-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

section.overviewTable {
    span:first-of-type {

        &:after {
            content: ":";

            @include mq($tablet-portait) {
                & {
                    display: none;
                }
            }
        }
    }

    .row {
        padding-bottom: 10px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

}