// Header Styles

header {
    background-color: $bg-header-color;

    .header-title-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: -1px;

        .header-title {
            padding-left: em(35);

            .school-name,
            h1,
            h2 {
                border: none;
                margin: 0;
                padding: 0;
                line-height: 1;
            }

            .school-name {
                @include mq($tablet-portait) {
                    & {
                        display: none;
                    }
                }
            }

            h1,
            h2 {
                font-size: 1.8rem;
            }

            @include mq($phone-wide) {
                & {
                    display: none;
                }
            }
        }

        @include mq($navbar-breakpoint) {
            & {
                justify-content: left;
                padding-left: 35px;

                .header-title {
                    padding-left: em(10);
                }
            }
        }

        @include mq($tablet-portait) {
            & {
                padding-left: 0;
            }
        }

        .mobile-title {
            display: none;

            h1 {
                margin: 0;
                padding: 0;
            }

            @include mq($phone-wide) {
                & {
                    display: block;
                    padding-left: 30px;
                    h1 {
                    font-size: 3rem;
                    }
                }
            }
        }

        .navbar-toggler {
            display: none;

            @include mq($navbar-breakpoint) {
                & {
                    display: block;
                    position: absolute;
                    right: 25px;
                }
            }
        }
    }
}