// Mixins

@mixin mq($w) {
    @media (max-width: $w) {
        @content;
    }
}

@mixin rmq($w) {
    @media (min-width: $w) {
        @content;
    }
}

@mixin monthHeader {
    background-color: $site-accent;
    text-align: left;
    padding: 10px;
    margin-bottom: 0;
    color: white;
    padding-left: 25px;
}