// Main Nav Styles

nav.navbar {
    background-color: $nav-bg-color;
    padding-top: 0;
    padding-bottom: 0;

    .active-link {
        border-bottom: $site-accent 3px solid;

        @include mq($navbar-breakpoint) {
            & {
                border-bottom: none;
                font-weight: bold;
            }

            &::before {
                border-left: $site-accent 3px solid;
                content: "";
                padding-right: 20px;
            }
        }
    }
}