// Variables
$gallery-margin : 6vw;
$content-margin : 4vw;

// Colours
$bg-body-color: rgba(214, 214, 214, 0.685);
$bg-header-color: white;
$bg-section-color: white;
$bg-sub-section-color: rgba(236, 236, 236, 0.45);

$table-row-borders: rgba(255, 255, 255, 0.925);

$nav-bg-color: white;

$footer-bg-color: #727272;
$footer-text: white;
$footer-heading-bg : #686868;
$footer-accent-bg : #323232;

$border-light: rgba(0, 0, 0, 0.205);

$site-accent: rgb(211, 77, 36);
$table-highlight-even: rgba(211, 77, 36, 0.37);
$table-highlight-odd: white;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Breakpoints
$tablet-landscape: em(1024);
$navbar-breakpoint: em(991);
$tablet-landscape-medium: em(860);
$tablet-portait: em(768);
$tablet-portrait-medium: em(720);
$phone-wide: em(580);
$phone: em(480);

