// Variables
$gallery-margin : 6vw;
$content-margin : 4vw;

// Colours
$bg-body-color: rgba(214, 214, 214, 0.685);
$bg-header-color: white;
$bg-section-color: white;

$table-row-borders: rgba(128, 128, 128, 0.452);

$nav-bg-color: white;
$nav-active-link: rgba(224, 224, 224, 0.63);

$footer-bg-color: #727272;
$footer-text: white;
$footer-heading-bg : #686868;
$footer-accent-bg : #323232;

$border-light: rgba(0, 0, 0, 0.205);

$site-accent: rgb(211, 77, 36);
$site-accent-level2: rgba(211, 77, 36, 0.900);
$site-accent-level3: rgba(211, 77, 36, 0.800);
$site-accent-level4: rgba(211, 77, 36, 0.700);
$site-accent-level5: rgba(211, 77, 36, 0.600);
$site-accent-level6: rgba(211, 77, 36, 0.500);

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Breakpoints
$tablet-landscape: em(1024);
$navbar-breakpoint: em(991);
$tablet-landscape-medium: em(860);
$tablet-portait: em(767);
$tablet-portrait-medium: em(720);
$phone-wide: em(580);
$phone: em(480);

