/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Boogaloo");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Carter+One");
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.3rem;
  padding-left: 10px;
}

h2 {
  font-size: 2.1rem;
  padding-left: 9px;
}

h3 {
  font-size: 1.9rem;
  padding-left: 8px;
}

h4 {
  font-size: 1.7rem;
  padding-left: 7px;
}

h5 {
  font-size: 1.5rem;
  padding-left: 6px;
}

h6 {
  font-size: 1.3rem;
  padding-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}
@media (max-width: 36.25em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
  }
}

section h2 {
  font-size: 1.9rem;
}

span.display-4 {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}
@media (min-width: 61.9375em) {
  span.display-4 {
    text-transform: uppercase;
  }
}
@media (max-width: 61.9375em) {
  span.display-4 {
    font-size: 3rem;
  }
}
@media (max-width: 36.25em) {
  span.display-4 {
    font-size: 2.7rem;
  }
}

@media (max-width: 61.9375em) {
  section.overviewTable .row div:first-of-type {
    text-transform: uppercase;
  }
}

main .intro .welcome .btn {
  font-size: 1.2rem;
}
main div.student-list-head,
main div.student-list-mobile-title {
  font-size: 1.2rem;
}
main div.students div.row {
  font-size: 1.1rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

main div.student-list-head, main div.student-list-mobile-title {
  background-color: #d34d24;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

body {
  background-color: rgba(214, 214, 214, 0.685);
  width: 100%;
}

.bg-white {
  background-color: white;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}
main .intro .welcome .btn {
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
main section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
main section:last-of-type {
  margin-bottom: 0;
}
main section.overviewTable div.row {
  padding-bottom: 10px;
}
main section.overviewTable div.row:last-of-type {
  padding-bottom: 0;
}
main section.overviewTable div.row div:first-of-type:after {
  content: " :";
}
@media (max-width: 48em) {
  main section.overviewTable div.row div:first-of-type:after {
    display: none;
  }
}
@media (max-width: 48em) {
  main section.overviewTable div.row div:first-of-type {
    font-size: 1.4rem;
  }
}
main section section.resource {
  border: 1px solid rgba(0, 0, 0, 0.205);
  background-color: rgba(236, 236, 236, 0.45);
  border-radius: 5px;
}
main section section.resource p {
  margin: 0;
}
main section section.resource img {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  padding-right: 20px;
}
@media (max-width: 36.25em) {
  main section section.resource img {
    max-width: 40px;
    max-height: 40px;
    padding-right: 0;
  }
}
@media (max-width: 48em) {
  main.student-list .display-4 {
    display: none;
  }
}
@media (max-width: 36.25em) {
  main.student-list {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 48em) {
  main div.student-list-head {
    display: none;
  }
}
main div.student-list-mobile-title {
  display: none;
  text-transform: uppercase;
}
@media (max-width: 48em) {
  main div.student-list-mobile-title {
    display: block;
  }
}
main div.students div.row {
  padding-top: 8px;
  padding-bottom: 5px;
}
main div.students div.row span.email {
  word-wrap: break-word;
}
main div.students div.row:nth-child(odd) {
  background-color: white;
}
main div.students div.row:nth-child(odd) .fab {
  color: #d34d24;
  font-size: 1.7rem;
}
main div.students div.row:nth-child(even) {
  background-color: rgba(211, 77, 36, 0.37);
}
main div.students div.row:nth-child(even) .fab {
  color: #d34d24;
  font-size: 1.7rem;
}

wrapper {
  max-width: 1024px;
  background-color: white;
  margin: 0 auto;
}

header {
  background-color: white;
}
header .header-title-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 7.5rem;
}
header .header-title-row .header-title {
  padding-left: 2.1875em;
}
header .header-title-row .header-title .school-name,
header .header-title-row .header-title h1,
header .header-title-row .header-title h2 {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}
@media (max-width: 48em) {
  header .header-title-row .header-title .school-name {
    display: none;
  }
}
header .header-title-row .header-title h1,
header .header-title-row .header-title h2 {
  font-size: 1.8rem;
}
@media (max-width: 36.25em) {
  header .header-title-row .header-title {
    display: none;
  }
}
@media (max-width: 48em) {
  header .header-title-row {
    justify-content: left;
  }
  header .header-title-row .header-title {
    padding-left: 0.625em;
  }
}
header .header-title-row .mobile-title {
  display: none;
}
header .header-title-row .mobile-title h1 {
  margin: 0;
  padding: 0;
}
@media (max-width: 36.25em) {
  header .header-title-row .mobile-title {
    display: block;
  }
  header .header-title-row .mobile-title h1 {
    font-size: 3rem;
  }
}
header .header-title-row .navbar-toggler {
  display: none;
}
@media (max-width: 61.9375em) {
  header .header-title-row .navbar-toggler {
    display: block;
    position: absolute;
    right: 10px;
  }
}

.home-banner {
  position: relative;
}
.home-banner img {
  min-width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
.home-banner h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 60%;
  color: white;
  font-family: 'Carter One', cursive;
}
@media (max-width: 64em) {
  .home-banner h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
  }
}
@media (max-width: 36.25em) {
  .home-banner h1 {
    display: none;
  }
}

nav.navbar {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar .active-link {
  border-bottom: #d34d24 3px solid;
}
@media (max-width: 61.9375em) {
  nav.navbar .active-link {
    border-bottom: none;
    font-weight: bold;
  }
  nav.navbar .active-link::before {
    border-left: #d34d24 3px solid;
    content: "";
    padding-right: 20px;
  }
}

footer {
  color: white;
  background-color: #727272;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-row div h2,
footer .footer-row nav h2 {
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 2;
  border-bottom: 2px solid;
  padding-left: 10px;
  font-family: 'Acme', sans-serif;
  white-space: nowrap;
}
footer .footer-row div p,
footer .footer-row nav p {
  padding-left: 10px;
  padding-right: 10px;
}
footer .footer-row .footer-about {
  flex: 3;
}
@media (max-width: 64em) {
  footer .footer-row .footer-about {
    min-width: 100%;
  }
}
footer .footer-row nav {
  flex: 2;
  margin-left: 10px;
}
@media (max-width: 64em) {
  footer .footer-row nav.footer-nav1 {
    margin-left: 0;
  }
}
footer .footer-row nav ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}
footer .footer-row nav ul li {
  text-decoration: none;
}
footer .footer-row nav ul li a {
  color: white;
}
footer .footer-row nav ul li a:hover, footer .footer-row nav ul li a:focus, footer .footer-row nav ul li a:active {
  text-decoration: underline;
}
@media (max-width: 36.25em) {
  footer .footer-row nav {
    min-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
footer .copy {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #323232;
}

/*# sourceMappingURL=styles.css.map */
